.section__demo {
    padding-top: 180px;
}

.demo {
    &__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__title {
        max-width: 577px;
        font-size: 65px;
        line-height: 84px;
        text-transform: capitalize;
        color: $darkColor;
        @media (max-width: 1300px) {
            width: 100%;
        }
        @media(max-width: 900px) {
            text-align: center;
            font-size: 45px;
            max-width: 100%;
        }
    }

    &__btn {
        border: 3px solid $darkColor;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: $darkColor;
        color: #ffffff;
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 25px 30px;
        width: 261px;
        height: 72px;
        margin-top: 90px;
        transition: 0.4s all;
        margin-bottom: 40px;
        &:hover {
            padding-right: 15px;
            background-color: #ffffff;
            color: $darkColor
        }
        @media (max-width: 1100px) {
            margin: 0 auto;
            margin-bottom: 40px;
        }
    }

    &__img {
        max-width: 100%;
        margin-top: 40px;
        @media(max-width: 500px) {
            display: none;
        }
    }
}