.section__teams {
    padding: 159px 50px;
    @media(max-width:550px) {
        padding-bottom: 50px;
    }
    
}

.teams {
    &__title {
        font-size: 30px;
        line-height: 42px;
        text-align: center;
        text-transform: capitalize;
        color: $darkColor;
    }

    &__brands {
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 100px;
        align-items: center;

        &_brand {
            height: 100%;
        }
    }

    &__cards {
        margin-top: 180px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__card {
        max-width: 432px;
        margin-bottom: 80px;
        border-radius: 30px;
        padding: 5px;
        transition: 0.4s all;

        &:hover {
            transform: scale(1.01);
            box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
        }

        @media(max-width:1450px) {
            &:hover {
                transform: none;
                box-shadow: none;
            }
        }

        @media(max-width:550px) {
            width: 100%;
        }

        &_img {
            display: block;
            border-radius: 30px;
            margin: 0 auto;

            @media(max-width:550px) {
                max-width: 250px;
            }
            @media(max-width:450px) {
                max-width: 200px;
            }
        }

        &_title {
            font-size: 35px;
            line-height: 42px;
            text-transform: capitalize;
            color: $darkColor;
            margin-top: 27px;

            @media(max-width:1007px) {
                text-align: center;
            }

            @media(max-width:550px) {
                font-size: 30px;
            }
        }

        &_text {
            font-size: 20px;
            line-height: 32px;
            color: #ABABAB;
            margin-top: 27px;

            @media(max-width:1007px) {
                text-align: center;
            }
        }

        &_author {
            display: flex;
            width: 100%;
            margin-top: 37px;
            flex-wrap: wrap;

            &-img {
                border-radius: 100%;
                max-width: 66px;
                max-height: 66px;
                margin-right: 20px;
            }

            &-info {
                display: flex;
                flex-direction: column;
            }

            &-more {
                display: flex;
                max-width: 336px;
                align-items: center;
                @media(max-width:550px) {
                    max-width: 230px;
                }
            }

            &-name {
                max-width: 336px;
                font-size: 20px;
                line-height: 28px;
                height: 28px;
                color: $darkColor;
            }

            &-date,
            &-profile {
                font-size: 18px;
                line-height: 29px;
                color: #ABABAB;
                @media(max-width:550px) {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }

    &__btn {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 25px 30px;
        width: 227px;
        height: 72px;
        background-color: $blueColor;
        color: #ffffff;
        border: 1px solid #29A0F5;
        box-sizing: border-box;
        border-radius: 20px;
        margin: 0 auto;
        font-size: 20px;
        transition: 0.4s all;
        &:hover {
            background-color: #2387cf;
            padding-right: 15px;
        }
    }
}

.dot {
    height: 5px;
    width: 5px;
    background-color: $blueColor;
    margin: 0 10px;
    border-radius: 100%;
}